em-employee-form {
    div.container {
        background-color: lightgray;

        .title {
            text-decoration: underline;
        }

        div.form {
            background-color: white;
        }
    }
}