################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManager/EmployeeAPI/bin/Debug/net5.0
/EmployeeManager/EmployeeAPI/obj
